<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="mains.css">
    </head>
    <body>
        <nav class="header">
            <img src="/img/headerBackground.png" alt="navbarBg" />
            <ul class="navBar">
                <li><a href="/"><img src="/img/homeIcon.png" alt="navbarImage" ></a></li>
                <li><a href="0/skull"><img src="/img/skull.png" alt="navbarImage" ></a></li>
                <li><a href="/1"><img src="/img/skullFireHeaderIcon.png" alt="navbarImage" ></a></li>
                <li><a href="/ship"><img src="/img/shipHeader.png" alt="navbarImage" ></a></li>
            </ul>
        </nav>
        <div>
            <form action="/directory" method="get" class="form-example">
                <div class="form-example">
                  <label for="name">Enter your name: </label>
                  <input type="text" name="file" id="name" required>
                </div>
                  <input type="submit" value="Subscribe!">
            </form>
            <% let render = "../" %>
            <p><% render %></p>
            <p>../</p>
        </div>
    </div>
</body>
</html>