<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam Newsletter</title>
    <link rel="stylesheet" type="text/css" href="mains.css">
</head>
<body>
    <nav class="header">
        <img src="/img/headerBackground.png" alt="navbarBg" />
        <ul class="navBar">
            <li><a href="/"><img src="/img/homeIcon.png" alt="navbarImage" ></a></li>
            <li><a href="0/skull"><img src="/img/skull.png" alt="navbarImage" ></a></li>
            <li><a href="/1"><img src="/img/skullFireHeaderIcon.png" alt="navbarImage" ></a></li>
            <li><a href="/ship"><img src="/img/shipHeader.png" alt="navbarImage" ></a></li>
          </ul>
    </nav>
    <div class="form">
        <form action="/jwt" method="post">
            <h2>Only Super Admins Can Proceed</h2>
            <% if(locals.error) {%>
            <p class="text-danger"><%=error%></p>
            <%}%>                
            <div class="input-field">
                <input type="object" name="username" id="username" placeholder="Enter Username">
            </div>
            <div class="input-field">
                <input type="password" name="secret" id="secret" placeholder="Secret">
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>