<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="mains.css">
    </head>
    <body>
        <nav class="header">
            <img src="/img/headerBackground.png" alt="navbarBg" />
            <ul class="navBar">
                <li><a href="/"><img src="/img/homeIcon.png" alt="navbarImage" ></a></li>
                <li><a href="0/skull"><img src="/img/skull.png" alt="navbarImage" ></a></li>
                <li><a href="/1"><img src="/img/skullFireHeaderIcon.png" alt="navbarImage" ></a></li>
                <li><a href="/ship"><img src="/img/shipHeader.png" alt="navbarImage" ></a></li>
              </ul>
        </nav>
        <div class="form">
            <form action="/process_login" method="post">
                <h2>Login</h2>
                <% if(locals.error) {%>
                <p class="text-danger"><%=error%></p>
                <%}%>                
                <div class="input-field">
                    <input type="text" name="username" id="username" placeholder="Enter Username">
                </div>
                <div class="input-field">
                    <input type="password" name="password" id="password" placeholder="Enter Password">
                </div>
                <input type="submit" value="LogIn">
            </form>
            <!-- You have a value, what do you want to be? -->
        </div>
    </body>
</html>