* {
    font-family: 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
html, body { margin: 0; }
.container {
    padding: 2rem;
    width: 90%;
    max-width: 900px;
    margin: auto;
}
input:not([type="submit"]) {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}
