
.header {
  display: flex;
  height: 30vh;
  align-items: center;
}
.header img {
  width: 100%;
  height: 100%;
}
.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  position: absolute;
  justify-content: space-around;
}
ul {
  display: flex;
  width: 100%;
  align-items: center;
  position: absolute;
  justify-content: space-around;
  padding: 0;
}
li {
  list-style: none;
}
a:hover {
  opacity: .5;
}
.navBar img {
  height: 100px;
  width: 100px;
  border-radius: 15px;
}
.skulls {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 90vh;
}
.skulls img {
  height: 50px;
  border-radius: 15px;
}
.home {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 68vh;
}
.home img{
  width: 100%;
  height: 100%;
}
.message {
  display: none;
}
p, .message:hover {
  display: block;
}
.skull {
  background-color: black;
  text-align: center;
  color: red;
  height: 75vh;
  p {
    margin: 0;
  }
}

.skull img {
  height: 50vh;
}